<div id="layoutSidenav_nav" th:fragment="sidebar">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Principal tecnico</div>
                <a class="nav-link" th:href="@{/}">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Dashboard
                </a>
                <a class="nav-link" th:href="@{/tickets/asignados}">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tasks"></i>
                    </div>
                    Mis Tickets Asignados
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <button type="submit" class="small text-center text-red"> <i class="fas fa-sign-out-alt"></i>Cerrar sesión</button>
            </form>
        </div>
    </nav>
</div>
