<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>User Profile</title>
	<link rel="stylesheet" th:href="@{/css/profileCSS.css}">
	<link
	     href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
	     rel="stylesheet"
	   />
	   <link th:href="@{/css/styles.css}" rel="stylesheet" />
	   <script
	     src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
	     crossorigin="anonymous"
	   ></script>>
</head>

<body class="sb-nav-fixed">
   <nav th:replace="~{fragments/navbar.html}"></nav>
   <div id="layoutSidenav">
     <div th:replace="~{fragments/sidebar.html :: sidebar-unified}"></div>
     <div id="layoutSidenav_content">
       <main>
         <div class="container-fluid px-4">
			<section class="profile-section">
					<div class="container">
						<div class="row">
							<div class="col-left">
								<div class="card profile-card">
									<div class="card-body text-center">
										<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
											alt="avatar" class="avatar">
										<h5 th:text="${usuario.nombre}">John Smith</h5>
										<p class="subtitle" th:text="${tipoUsuario}">Rol</p>
									</div>
								</div>
							</div>

							<div class="col-right">
								<div class="card">
									<div class="card-body">
										<div class="info-row"><span>Email</span><span th:text="${usuario.email}">example@example.com</span></div>
										<hr>

										<div th:if="${tipoUsuario == 'Técnico'}">
											<h4 class="mb-3">Información del Técnico</h4>
											<div class="info-row">
												<span>Número de Contacto</span>
												<span th:text="${usuario.nroContacto}"></span>
											</div>
											<hr>
											<div class="info-row">
												<span>Empresa</span>
												<span th:text="${usuario.empresa}"></span>
											</div>
											<hr>
											<div class="info-row">
												<span>Área</span>
												<span th:text="${usuario.area.nombre}"></span>
											</div>
										</div>

										<div th:if="${tipoUsuario == 'Cliente'}">
											<h4 class="mb-3">Información del Cliente</h4>
											<div class="info-row">
												<span>Número de Cliente</span>
												<span th:text="${usuario.nroCliente}"></span>
											</div>
											<hr>
											<div class="info-row">
												<span>Plan</span>
												<span th:text="${usuario.plan}"></span>
											</div>
											<hr>
											<div class="info-row">
												<span>Tipo de Cliente</span>
												<span th:text="${usuario.particular ? 'Particular' : 'Empresa'}"></span>
											</div>
											<hr>
											<h5 class="mt-4 mb-3">Dirección</h5>
											<div class="info-row">
												<span>Calle</span>
												<span th:text="${usuario.direccion.calle}"></span>
											</div>
											<hr>
											<div class="info-row">
												<span>Número</span>
												<span th:text="${usuario.direccion.nro}"></span>
											</div>
											<hr>
											<div class="info-row">
												<span>Código Postal</span>
												<span th:text="${usuario.direccion.codigoPostal}"></span>
											</div>
											<hr>
											<div class="info-row">
												<span>Localidad</span>
												<span th:text="${usuario.direccion.localidad.nombre}"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
         </div>
       </main>
       <footer th:replace="~{fragments/footer.html}"></footer>
     </div>
   </div>

   <script th:src="@{/js/sidebar.js}"></script>
   <script
     src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
     crossorigin="anonymous"
   ></script>
   <script
     src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
     crossorigin="anonymous"
   ></script>
   <script
     src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
     crossorigin="anonymous"
   ></script>
 </body>

</html>